.perfumery-different {
    margin-top: 100px;

    @media(max-width: 1024px) {
        margin-top: 60px;
    }

    h2 {
        margin-top: 40px;

        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        color: $dark;
        text-transform: uppercase;

        @media(max-width: 1024px) {
            margin-top: 20px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &-inside {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media(max-width: 1024px) {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        &-img {
            position: relative;
            min-height: 930px;
            height: 100%;
            width: 100%;

            @media(max-width: 1024px) {
                min-height: 468px;
            }
        }

        &-button {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
        }

        &-mob-text {
            display: none;
            @media(max-width: 1024px) {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                color: $dark;
                text-transform: uppercase;

                @media(max-width: 1024px) {
                    font-size: 16px;
                }
            }

            p {
                font-size: 24px;
                font-weight: 100;
                line-height: 24px;
                letter-spacing: -0.04em;
                color: $dark;

                @media(max-width: 1024px) {
                    font-size: 16px;
                }

                span {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media(max-width: 1024px) {
                display: none;
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                color: $dark;
                text-transform: uppercase;

                @media(max-width: 1024px) {
                    font-size: 16px;
                }
            }

            p {
                font-size: 24px;
                font-weight: 100;
                line-height: 24px;
                letter-spacing: -0.04em;
                color: $dark;

                @media(max-width: 1024px) {
                    font-size: 16px;
                }

                span {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

        }
    }
}
