@use './_variable.scss' as *;

html {
    scroll-behavior: smooth !important;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    font-family: $fontBase,
}

body {
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: $white;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(34, 34, 34, 0.2);
    }

    &::-webkit-scrollbar-thumb {
        background: $dark;
    }
}

* {
    font-family: $fontBase,
}

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-locale: auto;
    font-family: var(--font-base);
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
textarea,
button {
    font-family: inherit;
    border: none;
    outline: none;
    border-radius: 0;
}

button {
    border: none; /* Remove button border */
    background: none; /* Remove button background */
    padding: 0; /* Remove button padding */
    margin: 0; /* Remove button margin */
    outline: none; /* Remove button outline (focus) */
    cursor: pointer; /* Show pointer cursor on hover (optional) */
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea,
button {
    -webkit-appearance: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-reveal,
input::-ms-clear {
    width: 0;
    height: 0;
}

fieldset {
    border: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-base);
    font-weight: 400;
    color: inherit;
    margin: 0;
}

h5,
h6 {
    font-weight: 600;
    color: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

a,
button {
    cursor: pointer;
}

li {
    list-style: none;

}

input::placeholder {
    color: #2C2C2C !important;
    font-size: 18px;
    font-weight: 300;
    font-family: $fontBase,
}

