.alert-notification {
    position: fixed;
    right: 20%;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    z-index: 99999;

    @media(max-width: 2100px) {
        right: 18%;
    }

    @media(max-width: 1400px) {
        right: 20px;
    }

}

.alert-notification-item {
    padding: 30px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    gap: 20px;
    visibility: visible;
    opacity: 1;

    background-color: $white;
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 9999;

    @media(max-width: 1024px) {
        padding: 20px;
        gap: 10px;
    }

    &-text {
        font-size: 24px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: -0.04em;
        color: $dark;

        @media(max-width: 1024px) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &-circle{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
