.line-block {
    width: 100%;
    height: 1px;
    background-color: $dark;
    position: relative;

    &-extra {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 12px;
        background-color: $dark;
    }
}
