.home {

    &-slider {
        width: 100%;
        height: 801px;

        @media(max-width: 1024px) {
            height: 650px;
        }

        .slick-track {
            height: 801px;
            @media(max-width: 1024px) {
                height: 650px;
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 30px;

            @media(max-width: 1024px) {
                bottom: 10px;
            }

            .slick-active {
                button {
                    border: none !important;
                    width: 12px;
                    height: 12px;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-75%, -75%);
                        border: 1px solid $white;

                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        font-size: 0 !important;
                        background-color: $white;
                        opacity: 1;
                    }
                }
            }

            li {
                width: 12px;
                height: 12px;
                button {
                    border: none !important;
                    width: 12px;
                    height: 12px;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-75%, -75%);
                        border: 1px solid $white;

                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        font-size: 0 !important;
                        background-color: $dark;
                        opacity: 1;
                    }
                }
            }

        }

        &-item {
            width: 100%;
            height: 801px;
            position: relative;

            @media(max-width: 1024px) {
                height: 650px;
            }

            &-img-desc{
                display: block;
                @media(max-width: 1024px) {
                    display: none;
                }
            }
            &-img-mob{
                display: none;
                @media(max-width: 1024px) {
                    display: block;
                }
            }

            img{
                width: 100%;
                height: 100%;
            }

            &-inner {
                width: 100%;
                position: absolute;
                bottom: 70px;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                @media(max-width: 1024px) {
                    bottom: 40px;
                }

                h2 {
                    font-size: 120px;
                    font-weight: 400;
                    line-height: 120px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;

                    @media(max-width: 1024px) {
                        font-size: 54px;
                        line-height: 54px;
                        text-align: center;
                        margin-bottom: 0 !important;
                    }
                }
            }
        }

    }

    &-catalog {
        margin-top: 100px;
    }

    &-banner {
        margin-top: 100px;
        height: 890px;
        width: 100%;
        background-image: url(../../../public/home-banner.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media(max-width: 1024px) {
            height: 800px;
        }


        &-inner {
            h2 {
                font-size: 105px;
                font-weight: 400;
                line-height: 120px;
                color: $dark;
                text-transform: uppercase;

                @media(max-width: 1024px) {
                    font-size: 45px;
                    line-height: 45px;
                }

                @media(max-width: 540px) {
                    font-size: 36px;
                    line-height: 36px;
                }
            }

            button {
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
            }

            padding: 40px 0;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 40px;

            @media(max-width: 1024px) {
                gap: 20px;
            }
        }

    }

}
