.leave-message{
    .ant-form-item-control-input {
        border: 1.36px solid rgba(34, 34, 34, 1) !important;

        input {
            padding: 15px 20px !important;

            font-size: 16px;
            font-weight: 300;
            line-height: 14.4px;
            letter-spacing: -0.02em;
            color: $dark;

            &::placeholder {
                color: rgba(34, 34, 34, 0.5) !important;
            }
        }
    }

}

.form-title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: center;

    color: $dark;

    @media(max-width: 1024px) {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 24px;
    }
}

.form-desc {
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: $dark;
    text-align: center;

    @media(max-width: 1024px) {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 23px;
    }
}

.form-button {
    padding-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 1024px) {
        padding-top: 10px;
    }
}
